.cardImg {
    padding: 10px 50px 20px 60px;
    box-sizing: border-box;
    object-fit: contain !important;
    background-color: #F2F4F7;
}

.cardContent {
    position: relative;
}

.cardIcons {
    position: absolute;
    top: -78px;
    left: 0;
    width: 94%;
    justify-content: space-between;
}

.cardPrice {
    font-family: 'Inter' !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #101828 !important;
    margin-bottom: 16px !important;
}

.cardTitle {
    font-family: 'Inter' !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 28px;
    color: #101828 !important;
    margin-bottom: 4px !important;
}

.cardDespriction {
    font-family: 'Inter' !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px;
    color: #6941C6 !important;
}

