.mainWrapper {
  //   background: #f4f6f8;
  background: #f9fafb;
}
.logo {
  display: flex;
  padding-top: 50px;
}
.fistDiv {
  //   border: 2px solid black;
  margin-bottom: 20px;
  background: #f9fafb;
  display: flex;
  justify-content: space-around;
  height: 70vh;
}

.secondDiv {
  //   border: 2px solid black;
  background: #f4f6f8;
  height: 8vh;
}

.socialLogo {
  display: inherit;
  justify-content: space-around;
}
