.ProductDetails {
    padding-top: 90px;
}

.ProductDetailsMain {
    display: flex;
    padding-bottom: 40px;
}

.productContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 100px 8vw;
}

.productContentH {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-bottom: 16px;
}

.productContentDescription{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #959EAD;    
    margin-bottom: 8px;
}

.productContentSku{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;    
    color: #959EAD;    
}

.productContentLower {
    padding: 16px 0 36px;
    border-top: 1px solid #F4F6F8;
}

.productContentPrice{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;  
    padding-bottom: 16px;    
}

.favoritIcon {
    padding: 14px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    color: #344054;
}

.buttonsDiv {
    display: flex;
    gap: 24px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #4640DE;
}

.listRow:nth-child(odd) {
    background-color: #F9FAFB;
}

.listRow {
    padding-left: 22px;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}

.tablesGrid {
    padding-left: 0 !important;
    justify-content: space-between;
}

.tablesGridItem {
    max-width: 47% !important;
    flex-basis: 47% !important;
}

.giaImg {
    padding: 36px 0 24px;
}